* {
  box-sizing: border-box;
}

.header {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 5%;
  font-size: 700%;
  height: 350px; /* Should be removed. Only for demonstration */
}

.btn {
    background-color: white;
    width: 105px;
    border-color: gray;
    font-size: 60%;
}

.btn:hover {
    background-color: grey;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 8px;
  height: 38px;
  text-align: center;
  font-size: 135%;
}

/* Responsive layou5 - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

